/* Add this CSS to your styles.css or an appropriate CSS file */
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in-left {
    animation: slideInFromLeft 1s ease-out;
  }
  
  .glow {
    /* box-shadow: 0 0 10px rgba(255, 105, 180, 0.7), 0 0 20px rgba(255, 165, 0, 0.7); */
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .glow:hover {
    box-shadow: 0 0 10px rgba(255, 105, 180, 1), 0 0 20px rgba(255, 165, 0, 1);  
  }
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .marquee-container {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    width: 100%; /* Ensure the container takes the full width */
  }
  
  .marquee {
    display: inline-block;
    animation: marquee 15s linear infinite;
  }
  
  .marquee-text {
    display: inline-block;
    padding-right: 50px; /* Add some space between the texts */
  }
  
  .custom-arrow {
    width: 30px; /* Adjust the size of the arrows */
    height: 30px;
    z-index: 1; /* Ensure the arrow is above the content */
    display: flex;
    justify-content: center;
    align-items: center;
    background: none; /* Remove the default background */
    border: none; /* Remove border if any */
    color: white; /* Change the color of the arrow */
    position: absolute; /* Position the arrows absolutely */
    top: 50%; /* Vertically center the arrow */
    transform: translateY(-50%); /* Adjust for perfect vertical centering */
  }
  
  .custom-arrow::before {
    font-size: 30px; /* Increase the font size of the arrow icon */
  }
  
  .custom-arrow-next {
    right: -40px; /* Position next arrow to the right of the image */
  }
  
  .custom-arrow-prev {
    left: -40px; /* Position prev arrow to the left of the image */
  }
  
  /* Ensure the carousel does not cause horizontal scroll */
  .overflow-x-hidden {
    overflow-x: hidden;
  }
  
  @media (max-width: 639px) {
    /* For screens smaller than 640px */
    .custom-arrow-next {
      right: 20px; /* Adjust positioning for small screens */
      top:25%
    }
    .custom-arrow-prev {
      left: 20px; /* Adjust positioning for small screens */
      top:25%
    }
  }
  .spacing-right {
    margin-right: 0.3rem;
  }
  
  .spacing-left {
    margin-left: 0.3rem;
  }
  
  
  
  